:root{
    --main-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
}

* {
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
}

.container{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    padding-left:0;
    padding-right:0;

}

.nav-header{
    display: flex;
    flex-wrap: wrap;
}

.nav-header img{
    object-fit: cover;
}

.logo{
    width:25px;
}