:root{
    --main-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
}

* {
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
    justify-content: space-between;
}

.main-container{
    width: 250%;
    height:fit-content;
    box-sizing: border-box;
    background-color: var(--main-color);
}




.nav-header{

}



.logo{
    width:190px;
    padding-top:10px;
    align-items: flex-end;

}