:root{
    --main-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
}

* {
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
    justify-content: space-between;
    background-image: url(./images/bg-desktop.svg);
    background-color: var(--main-color);
}

.main-container{
 
}



.logo{
    width: 15%;
    padding-top: 40px;
    margin-left: 50px;
}

